body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: gray;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #f5f7f9;
  padding: 10px;
}

.logo {
  width: 10%;
  margin-left: 2%;
}

.nav-links {
  width: 80%;
  display: flex;
  justify-content: center;
  font-size: 1vw;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
  color: black;
}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: 7%;
  font-size: 1vw;
}

.buttons button {
  margin-left: 10px;
  padding: 15%;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  display: inline-block;
}

.signup-button:hover {
  background-color: #45a049;
}

.login-button:hover {
    background-color: #45a049;
    color: white;
  }

.login-button {
    background-color: #f5f7f9;
    color: #4caf50;
}

.signup-button {
  background-color: #4caf50;
  color: white;
  text-wrap-mode: nowrap;
}

.register-button {
    background-color: #4caf50;
    color: white;
    padding: 2%;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-size: 1vw;
}

#container{
    width: 100%;
}

.container-prospection {
    width: 100%;
    background-color: #f5f7f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-prospection-left {
    flex: 1;
    padding-left: 7%;
}

.container-prospection-right {
    flex: 1;
    padding-right: 2%;
}

.container-prospection-right-logo {
    width: 50%;
    height: auto;
}

.logo {
    max-width: 100%;
    height: auto;
}

.register-button {
    margin-top: 10px;
}

.container-management {
  background-color: white;
}

.container-management-presentation {
    text-align: center;
    font-size: 2.7vw;
    margin-top: 2%;
}

.container-card {
  padding: 2vw 7vw 2vw 7vw;
}

.container-card-value {
  border-left: 1.5px solid #f5f7f9; /* Left border */
  border-right: 1.5px solid #f5f7f9; /* Right border */
  border-bottom: 1.5px solid #f5f7f9; /* Bottom border */
  border-radius: 5px;
}

.container-card-title {
  margin-block-end: auto;
  margin-block-start: 0.2em;
}


.container-prospection.pixelgrade{
  background-color: white;
}

.container-pixelgrade-left {
  text-align: center;
  flex:1;
}

.container-pixelgrade-right {
  flex:1;
  margin-right: 10%;
}

.container-pixelgrade-left-logo {
  width: 65%;
}

.container-explain-left {
  margin-left: 7%;
  flex: 1;
}

.container-explain-right {
  flex: 1;
}

.container-explain-right-logo {
  width: 65%;
}